body {
    font-family: 'Roboto', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 100%;
}

.main-nav {
    background-color: transparent !important;
    border-color: white !important;
}

    .main-nav .navbar-collapse {
        background: #8dd8f7;
    }

    .main-nav li > a {
        text-transform: uppercase;
        padding: 15px 8px;
        color: #294da1 !important;
        font-weight: 600;
    }

        .main-nav li > a:hover {
            color: #b7250c !important;
        }

.sub-menu {
    width: 250px;
    background: #8dd8f7;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 999;
}

    .sub-menu li a {
        font-size: 12px;
        text-transform: initial;
        padding: 8px 5px;
    }

        .sub-menu li a:hover {
            color: #b7250c !important;
        }

.nav li:hover {
    cursor: pointer;
}

    .nav li:hover > a {
        color: #b7250c;
    }

    .nav li:hover > .sub-menu {
        display: block;
    }

.sub-menu li {
    border: none;
}

a.title {
    font-weight: 600;
}

.banner {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

    .banner img {
        width: 100%;
    }

.box {
    margin-bottom: 10px;
}

.box-body {
    margin-top: 10px;
    width: 100%;
    float: left;
}

    .box-body .title {
        background: transparent !important;
        margin-top: 5px;
    }

        .box-body .title a {
            font-weight: 600;
            color: #294da1;
        }

            .box-body .title a:hover {
                color: #b7250c;
                text-decoration: none;
            }

    .box-body a {
        font-weight: 600;
        color: #294da1;
    }

        .box-body a:hover {
            color: #b7250c;
            text-decoration: none;
        }

    .box-body img {
        max-width: 100%;
    }

.decs p {
    text-align: justify;
    font-size: 11px;
    color: #404040;
}

.page-des {
    font-weight: 600;
}

.readmore {
    text-align: right;
}

    .readmore a {
        font-weight: 500;
    }

.notification {
    background: #f5f4f2;
}

    .notification .item {
        margin-bottom: 10px;
        padding-bottom: 8px;
        border-bottom: 1px solid #9b9b9a;
    }

        .notification .item a {
            font-weight: 500;
            text-transform: initial;
            line-height: initial;
        }

.slider-main {
    width: 100%;
    height: 335px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 10px;
}

    .slider-main img {
        height: 335px !important;
        width: 100%;
    }

    .slider-main .caption {
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding: 5px;
        background: #404040;
        color: #fff;
        opacity: 0;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }

        .slider-main .caption a {
            color: #fff;
        }

            .slider-main .caption a:hover {
                text-decoration: none;
            }

    .slider-main .item:hover .caption {
        opacity: 1;
    }

.slider-left {
    width: 100%;
    height: 335px;
    box-sizing: border-box;
}

.box-banner {
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
}

    .box-banner .item {
        margin-bottom: 5px;
    }

    .box-banner img {
        width: 100%;
    }

footer {
    margin-top: 30px;
}

    footer .title {
        background: #8dd8f7;
        color: #294da1;
        padding: 10px 0px;
        text-transform: uppercase;
        font-weight: bold;
    }

    footer .body {
        padding: 0px 15px;
        background: #1467b3;
        color: #fff;
    }

    footer .item {
        display: table-cell;
        height: 180px;
        padding-top: 20px;
    }

.border-right {
    border-right: 2px solid #fff;
}

.box {
}

    .box .title {
        background: #8dd8f7;
        font-size: 14px;
        font-weight: 600;
        color: #294da1;
    }

        .box .title h2 {
            margin: 0px;
        }

            .box .title h2 .icon {
                margin-left: 20px;
                line-height: 40px;
                float: left;
                color: #f16e20;
            }

            .box .title h2 > a {
                font-size: 14px;
                line-height: 40px;
                text-transform: uppercase;
                margin-left: 20px;
                font-weight: 600;
                color: #294da1;
            }

                .box .title h2 > a:hover {
                    text-decoration: none;
                }

.pading-left-20 {
    padding-left: 20px;
}

.pading-top-10 {
    padding-top: 10px;
}

.pading-bottom-10 {
    padding-bottom: 10px;
}

.page-title {
    font-size: 18px;
    margin: 0px;
    font-weight: 600;
    margin-bottom: 5px;
}

.right-nav {
    border: 1px solid #8dd8f7;
}

    .right-nav li:hover a {
        background: transparent;
    }

    .right-nav .sub-menu {
        position: initial;
        padding-left: 30px;
        background: transparent;
        width: 100%;
        box-sizing: border-box;
        opacity: 0;
        transition: visibility 0s, opacity 1s linear;
    }

    .right-nav li:hover .sub-menu {
        visibility: visible;
        opacity: 1;
    }

.breadcrumb {
    border-radius: inherit;
    background: #8dd8f7;
    padding: 10px 15px;
    font-weight: 600;
}

    .breadcrumb a {
        color: #294da1;
    }

.no-font-weight {
    font-weight: 500 !important;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.menu-top {
    position: relative;
}

    .menu-top .navbar-nav {
        float: right;
        background: #8dd8f7;
        border-radius: 5px;
        padding: 5px 15px;
    }

        .menu-top .navbar-nav a {
            text-transform: uppercase;
            font-weight: 600;
            color: #294da1;
            padding: 5px 7px;
        }

            .menu-top .navbar-nav a:hover {
                background: none;
            }

.facebook img {
    width: 16px;
    height: auto;
}

.messenger {
    background: #fff;
    border-radius: 5px;
}

    .messenger img {
        width: 20px;
        height: auto;
    }

.banner {
    position: relative;
}

.search-header {
    position: absolute;
    top: 100px;
    width: 200px;
    right: 80px;
}

    .search-header .input-search {
        padding: 5px;
    }
/*-----------CSS Customie-----------*/
.row {
    margin-right: -5px;
    margin-left: -5px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 5px;
    padding-left: 5px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background: transparent;
}

.home {
    font-size: 32px;
    margin: 0px !important;
    line-height: 50px;
    padding: 0px 8px;
    color: #f16e20 !important;
}

.lich-cong-tac {
}

    .lich-cong-tac .item {
        border: 1px solid #294da1;
        box-sizing: border-box;
        margin-bottom: 5px;
    }

        .lich-cong-tac .item .body {
            height: 200px;
            overflow: auto;
        }

        .lich-cong-tac .item .title {
            border-bottom: 1px solid #294da1;
            background: #294da1;
        }

            .lich-cong-tac .item .title .text {
                color: #fff;
                display: table-cell;
                vertical-align: middle;
                height: 40px;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
            }

            .lich-cong-tac .item .title a {
                font-size: 13px;
                vertical-align: central;
                color: #fff;
                font-weight: 500;
            }

.sub-title {
    padding-left: 8px;
}

    .sub-title a {
        line-height: initial;
        font-size: 12px;
        font-weight: 500;
    }

.ban-do iframe {
    width: 100%;
    height: 150px;
}

.page-content .item a {
    font-weight: 600;
}

    .page-content .item a:hover {
        text-decoration: none;
        color: #b7250c;
    }

.item .des {
    font-size: 13px;
    font-style: italic;
}

.media .item iframe {
    width: 100% !important;
    height: 300px;
}

.media .item .des {
    font-weight: 500;
    text-align: justify;
    font-size: 11px;
    color: #404040;
}
