<div class="menu-top">
    <ul class="nav navbar-nav">
        <li>
            <a class="facebook" href="@ViewBag.LinkFanPage" target="_blank">
                <img src="~/Content/Facebook.png" alt="facebook" />
            </a>
        </li>
        <li>
            <a class="messenger" href="@ViewBag.LinkMessenger" target="_blank">
                <img src="~/Content/Facebook_Messenger.png" alt="messenger" />
            </a>
        </li>
        <li><a href="lien-he">Liên hệ</a></li>
        <li><a href="@ViewBag.LinkSiteMap">Sơ đồ website</a></li>
        <li>
            <a class="eng" href="@ViewBag.LinkEnglish" title="English">
                <img src="~/Content/english.png" alt="English" />
            </a>
        </li>
    </ul>
</div>
