
@{
    ViewBag.Title = "Danh sách phòng ban";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
<section class="content-header">
    <h1 class="title text-uppercase text-bold">@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li><a href="/Admin/ThanhVien">Quản lý thành viên</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="form-group">
                        <a href="@Url.Action("Detail", "PhongBan")" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i> Thêm mới</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th width="100">Mã phòng</th>
                                    <th>Phân quyền</th>
                                </tr>
                            </thead>
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
